h1 {
    text-align: center;
}

h3 {
    text-align: center;
}


form {
    text-align: center;
}

html {
    background-image: url(img/—Pngtree—simple\ cartoon\ character\ health\ protection_1273572.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

div {
    margin-top: 10%;
}